<%= turbo_stream.replace "unit-select" do %>
  <select
    id="unit-select"
    name="parking_lot_submission[unit]"
    class="form-control"
    data-gsabss-selects-target="unit">
    <option value="">Select one</option>
    <%= options_for_select(@unit_options) %>
  </select>
<% end %>
