@import "base/tokens";

  .incident-textarea {
    width: 240px;
    max-width: 100%;
  }

.critical-information-reporting {
  .next-textarea {
    width: 640px;
    max-width: 100%;
  }
}

.critical-information-reporting {
  .cause-textarea {
    width: 640px;
    max-width: 100%;
  }
}
