@import "base/tokens";

.critical-information-reporting {
  .incident-textarea,
  .next-textarea,
  .cause-textarea {
    width: 390px;
    flex: 0 0 auto;
  }
  .completion-date-field {
    width: 410px !important;
    flex: 0 0 auto;
  }
}
