@import "base/tokens";

  .incident-textarea {
    width: 390px !important;
    flex: 0 0 auto;
  }

  .next-textarea {
    width: 390px !important;
    flex: 0 0 auto;
  }

  .cause-textarea {
    width: 390px !important;
    flex: 0 0 auto;
  }
