<!-- app/views/acl/edit.html.erb -->
<div class="form-header">
  <h1>Edit Group</h1>
</div>

<div class="form-wrapper acl-management">
  <%= form_with model: @group, url: acl_path(@group), method: :patch, local: true do |form| %>
    <%= render "form", form: form, group: @group, submit_label: "Update Group" %>
  <% end %>
</div>
