class <%= class_name %> < ApplicationRecord
  enum :status, {
    submitted: 0,
    pending: 1,
    denied: 2,
    approved: 3,
  }

  # Minimal baseline validations; adjust or remove as needed
  validates :name, :email, presence: true
end
