<div class="sidebar">
  <h2>Available Forms</h2>

  <% if current_user %>
    <%= link_to "Parking Lot Form", new_parking_lot_submission_path, class: "nav-link", data: { turbo_frame: "main-content" } %>
    <%= link_to "Probation Agency Transfer Request", new_probation_transfer_request_path, class: "nav-link", data: { turbo_frame: "main-content" } %>
  <% else %>
    <p>Please log in to access forms.</p>
  <% end %>
</div>
