<div class="form-success-page">
  <div class="form-success-box">
    <h1>Ticket Submitted Successfully</h1>
    <p>Your ticket has been submitted. We will get back to you as soon as possible.</p>
    <%= link_to "Back to Tickets", help_tickets_path, class: "btn approve" %>
  </div>
</div>
