<p>Hello <%= @contractor.first_name %>,</p>

<p>We received a request to reset the password for your GSA Forms contractor
account. Use the secure link below to choose a new password:</p>

<p><%= link_to "Reset your password", @url %></p>

<p>This link will expire in 2 hours. If you didn't request a password reset, you
can safely ignore this email — your password will not change.</p>

<p>— GSA Forms</p>
