<p>Hello <%= @contractor.first_name %>,</p>

<p>A GSA Forms contractor account has been created for you. To finish setting up
your account, please choose a password using the secure link below:</p>

<p><%= link_to "Set your password", @url %></p>

<p>This link will expire in 7 days. After setting your password you can sign in
at any time at the contractor login page.</p>

<p>If you weren't expecting this email, you can safely ignore it.</p>

<p>— GSA Forms</p>
