[Unit]
Description=Paperboy Sidekiq Worker
After=network.target redis.service

[Service]
Type=simple
User=matthew
Group=matthew
WorkingDirectory=/home/matthew/gitea/Paperboy

EnvironmentFile=/home/matthew/gitea/Paperboy/.env
Environment=RAILS_ENV=production
Environment=PATH=/home/matthew/.rbenv/shims:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin

ExecStart=/home/matthew/.rbenv/shims/bundle exec sidekiq -C config/sidekiq.yml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
