<section class="coa-home">
  <div class="forms-homepage-wrapper">
    <div class="slideshow" data-controller="slideshow">
      <div data-slideshow-target="slide" class="slide active">
        <%= image_tag "VenturaPier.png", alt: "Ventura coastline" %>
      </div>
      <div data-slideshow-target="slide" class="slide">
        <%= image_tag "VenturaCross.png", alt: "Ventura hills" %>
      </div>
      <div data-slideshow-target="slide" class="slide">
        <%= image_tag "VenturaCityHall.png", alt: "Ventura city hall" %>
      </div>
    </div>
  </div>
</section>
