<% content_for :title, "Editing probation transfer request" %>

<h1>Editing probation transfer request</h1>

<%= render "form", probation_transfer_request: @probation_transfer_request %>

<br>

<div>
  <%= link_to "Show this probation transfer request", @probation_transfer_request %> |
  <%= link_to "Back to probation transfer requests", probation_transfer_requests_path %>
</div>
