<p style="color: green"><%= notice %></p>

<% content_for :title, "Probation transfer requests" %>

<h1>Probation transfer requests</h1>

<div id="probation_transfer_requests">
  <% @probation_transfer_requests.each do |request| %>
    <%= render partial: "probation_transfer_request", locals: { probation_transfer_request: request } %>
    <p>
      <%= link_to "Show this probation transfer request", probation_transfer_request_path(request) %>
    </p>
  <% end %>
</div>

<%= link_to "New probation transfer request", new_probation_transfer_request_path %>
