<!-- app/views/probation_transfer_requests/show.html.erb -->

<div class="form-header">
  <h1>Probation Transfer Request</h1>
</div>

<div class="form-wrapper">
  <div class="form-inner">

  <%= render partial: "shared/readonly_record",
             locals: { record: @probation_transfer_request, exclude: [] } %>

  <div class="form-actions">
    <%= link_to "Back to Status", status_path, class: "form-btn" %>
    <%= link_to "Back to Probation Transfer Requests", probation_transfer_requests_path, class: "form-btn" %>
    <%= link_to "Download PDF", pdf_probation_transfer_request_path(@probation_transfer_request), class: "form-btn" %>
    </div>
  </div>
</div>
