<% content_for :image do %>
  <div class="forms-homepage-wrapper">
    <%= image_tag "VenturaPier.png", alt: "Forms Homepage", class: "forms-homepage-image" %>
    <%= link_to "Login", "#", class: "login-button-over-image" %>
  </div>
<% end %>
