<% content_for :image do %>
  <div class="forms-homepage-wrapper">
    <div class="slideshow">
      <%= image_tag "VenturaPier.png", alt: "Slide 1", class: "slide active" %>
      <%= image_tag "VenturaCross.png", alt: "Slide 2", class: "slide" %>
      <%= image_tag "VenturaCityHall.png", alt: "Slide 3", class: "slide" %>
    </div>
  </div>
<% end %>
