<p>Hello,</p>

<p>A new parking permit submission has been approved for the following permit type(s):</p>
<ul>
  <% @submission.parking_lot_vehicles.each do |vehicle| %>
    <li><strong><%= vehicle.display_parking_lot %></strong></li>
  <% end %>
</ul>

<p>Please see the attached PDF for details.</p>

<p><em>Please DO NOT reply to this email.</em></p>


