<p>Hello,</p>

<p>A new parking lot submission has been approved for Lot <strong><%= @submission.parking_lot %></strong>.</p>

<p>Please see the attached PDF for details.</p>

<p><em>Please DO NOT reply to this email.</em></p>


