<!-- app/views/authorization_console/new.html.erb -->
<div class="form-header">
  <h1>Add Authorized Approver</h1>
</div>

<div class="form-wrapper authorization-console">
  <%= render "form",
        form_url: authorization_console_index_path,
        form_method: :post,
        submit_label: "Add Authorization",
        original_ids: [] %>
</div>
